{% extends "layout/base.html" %}

{% block title %}{{ title }}{% endblock title %}


{% block content %}
{% load static %}

    <div id="'content" class="container">
        <h3>{{ title }}</h3>
        <hr>
        <form action="/accounts/sign_up" method="post">
            {% csrf_token %}
            <p>
                <label for="login">Login</label><br>
                <input type="text" id="login" name="login" class="inp"required>
            </p>
            <p>
                <label for="pass1">Password</label><br>
                <input type="password" id="pass1" name="pass1" class="inp"required>
            </p>
            <p>
                <label for="pass2">Confirm password</label><br>
                <input type="password" id="pass2" name="pass2" class="inp"required>
            </p>
            <p>
                <label for="email">E-mail</label><br>
                <input type="email" id="email" name="email" class="inp"required>
            </p>
            <p stayle="margin-top: 30px">
                <input type="submit" value="Send" class="btn btn-success" style="width: 150px">
                <input type="reset" value="Clear" class="btn btn-success" style="width: 150px">
            </p>
        </form>
    </div>
<script src="{% static 'js/sign_up.js' %}"></script>
{% endblock content %}