{% extends "layout/base.html" %}

{% block title %}{{ title }}{% endblock title %}


{% block content %}
<div id="content" class="container">
    <h3>{{ title }}</h3>
    <hr>
    <h3>You are going to delete the new:</h3>
    <h3>{{ post.topic }}</h3>
    <h3>Confirm</h3>
    <form action="/news/delete/{{ post.id }}" method="post">
        {% csrf_token %}
        <input type="submit" value="Delete" class="btn btn-secondary" style="width: 200px">
    </form>
    <hr>
    <a href="/news">Back to list of news</a>
</div>
{% endblock content %}