{% extends "layout/base.html" %}

{% block title %}{{ title }}{% endblock title %}


{% block content %}
<div id="content" class="container">
    <h3>{{ title }}</h3>
    <hr>
    <div>
        <img src="/media/{{ post.image }}" width="30%" align="left" style="margin-right: 50px">
        <h3>{{ post.title }}</h3>
        <h5>{{ post.published }}</h5>
        <h4>{{ post.content }}</h4>
        <div style="clear: left"></div>
        <a href="/news">Bact to List of News</a>
    </div>
    <hr>
</div>
{% endblock content %}